<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Editar cadastro - Financeiro</title>
        <style> div.alert {text-align: center;} </style>

        <div class="alert">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
        </div>

    </head>

    <body>
        <div class="alert">
            <h1 style="background: #868686d2;">DETALHES DA IMPORTAÇÃO</h1>
        </div>
        </form>
    </body>
</html>
